html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background: $VeryLightGray;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
